/* #bannerBox =================================== */
#bannerBox{width: 100%;min-width: 960px; height: 300px; background-color:#0094f9; }
.title{width: 300px; height: 100px; text-align: center; float: right; margin-top: 100px; margin-right: 180px; font-weight: bold; font-size: 2.5rem; color: #fff;}
#bannerBox>.bannerImg{width: 100%; height: 300px;
background-image: url("../../img/powersun/powersunbanner.jpg"); background-size: contain; background-repeat: no-repeat; background-position:100px; }

/* #contentBox ============================================= */
#contentBox{width: 100%;min-width: 960px; height: 1400px; padding: 0 3.7rem; box-sizing: border-box;}
h3{width: 100%; height: 40px; border-bottom: 1px solid #eee; line-height: 40px; color: #ff99cc; margin-top: 30px;}
.powersunproduct{width: 960px;height: 100%;margin: auto;}
.powersunproduct>.content01{width: 300px; height: 500px; float: left; margin-left: 20px;}
.powersunproduct>dl>.contentImg01{width: 300px; height: 300px;margin-top: 50px; float: left;
  background-image: url("../../img/powersun/powersun01.jpg"); background-repeat: no-repeat;
background-size: contain;}
.powersunproduct>dl>.text01{width: 300px; height: 30px;line-height: 30px; font-size: 1rem; font-weight: bold;margin-top: 10px; float: left;}
.powersunproduct>dl>.text02{width: 300px; height: 100px; color: #777; font-size: 0.8rem; line-height: 25px; float: left;}

.powersunproduct>.content02{width: 300px; height: 500px; float: left; margin-left: 20px;}
.powersunproduct>dl>.contentImg02{width: 300px; height: 300px; float: left; margin-top: 50px; 
 background-image: url("../../img/powersun/powersun02.jpg"); background-repeat: no-repeat;
background-size: contain;}
.powersunproduct>.content02>.text01{width: 300px; height: 30px; line-height: 30px; font-size: 1rem; font-weight: bold; margin-top: 10px;float: left;}
.powersunproduct>.content02>.text02{width: 300px; height: 100px; color: #777;font-size: 0.8rem;  line-height: 25px; float: left; }

.powersunproduct>.content03{width: 300px; height: 500px; float: left; margin-left: 20px;}
.powersunproduct>dl>.contentImg03{width: 300px; height: 300px; float: left; margin-top: 50px; 
 background-image: url("../../img/powersun/powersun03.jpg"); background-repeat: no-repeat;
background-size: contain;}
.powersunproduct>.content03>.text01{width: 300px; height: 30px; line-height: 30px; font-size: 1rem; font-weight: bold; margin-top: 10px;float: left;}
.powersunproduct>.content03>.text02{width: 300px; height: 100px; color: #777;font-size: 0.8rem;  line-height: 25px; float: left;}


.powersunproduct>.content04{width: 300px; height: 500px; float: left; margin-left: 20px;}
.powersunproduct>dl>.contentImg04{width: 300px; height: 300px; float: left; margin-top: 50px; 
 background-image: url("../../img/powersun/powersun04.jpg"); background-repeat: no-repeat;
background-size: contain;}
.powersunproduct>.content04>.text01{width: 300px; height: 30px; line-height: 30px; font-size: 1rem; font-weight: bold; margin-top: 10px; float: left;}
.powersunproduct>.content04>.text02{width: 300px; height: 100px; color: #777;font-size: 0.8rem;  line-height: 25px; float: left; }

.powersunproduct>.content05{width: 300px; height: 500px; float: left; margin-left: 20px;}
.powersunproduct>dl>.contentImg05{width: 300px; height: 300px; float: left; margin-top: 50px; 
 background-image: url("../../img/powersun/powersun05.jpg"); background-repeat: no-repeat;
background-size: contain;}
.powersunproduct>.content05>.text01{width: 300px; height: 30px; line-height: 30px; font-size: 1rem; font-weight: bold; margin-top: 10px; float: left;}
.powersunproduct>.content05>.text02{width: 300px; height: 100px; color: #777;font-size: 0.8rem;  line-height: 25px; float: left; }

.powersunproduct>.content06{width: 300px; height: 500px; float: left; margin-left: 20px;}
.powersunproduct>dl>.contentImg06{width: 300px; height: 300px; float: left; margin-top: 50px; 
 background-image: url("../../img/powersun/powersun06.jpg"); background-repeat: no-repeat;
background-size: contain;}
.powersunproduct>.content06>.text01{width:300px; height: 30px; line-height: 30px; font-size: 1rem; font-weight: bold; margin-top: 10px; float: left;}
.powersunproduct>.content06>.text02{width: 300px; height: 100px; color: #777;font-size: 0.8rem;  line-height: 25px; float: left; }